<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Plant" value="Guthrie"/>
    <add key="ShopId" value="GTH"/>
    <add key="PcsgId" value="GTH"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>